<style>
  a {
    margin: 0 1rem;
    text-decoration: none;
    color: inherit;
  }
</style>

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</div>